<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServLogin</servlet-name>
        <servlet-class>Servlet.ServLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServCerrar</servlet-name>
        <servlet-class>Servlet.ServCerrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServEditar</servlet-name>
        <servlet-class>Servlet.ServEditar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServNueva</servlet-name>
        <servlet-class>Servlet.ServNueva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServEliminar</servlet-name>
        <servlet-class>Servlet.ServEliminar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServLogin</servlet-name>
        <url-pattern>/ServLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServCerrar</servlet-name>
        <url-pattern>/ServCerrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServEditar</servlet-name>
        <url-pattern>/ServEditar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServNueva</servlet-name>
        <url-pattern>/ServNueva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServEliminar</servlet-name>
        <url-pattern>/ServEliminar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
